.contact_item_wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact_btn {
  padding: 0.35rem 0.5rem;
  color: var(--color-text-inverse);
  border-radius: var(--radius);
  border: 1px solid var(--color-bg);
  transition: color var(--transition-fast);

  &:hover {
    color: var(--color-text);
  }
}
.edit {
  background-color: var(--color-btn-edit);
}

.delete {
  background-color: var(--color-btn-delete);
}
