:root {
  font-size: 20px;
  margin-inline: auto;

  --color-bg: #e7e7e7;
  --color-bg-dark: #2e2e2e;
  --color-bg-header: #b5b4b4;
  --color-card-bg: #ffffff;
  --color-card-border: #dddddd;

  --color-primary: #b30000;
  --color-primary-light: #e60000;
  --color-primary-dark: #7a0000;

  --color-accent: #ff4d4d;
  --color-accent-light: #ff6666;

  --color-text: #2b2b2b;
  --color-text-light: #555;
  --color-text-inverse: #ffffff;

  --color-border: #cccccc;

  --transition-fast: 0.2s ease-in-out;
  --transition-slow: 0.4s ease;
  --radius: 8px;
  --shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
