.contact_container {
  padding-inline: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc((100% - 1.5rem) / 4);
  padding: 0.6rem 0.45rem;
  border: 1px solid black;
  border-radius: var(--radius);
  transition: box-shadow var(--transition-slow);

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
  }
}
